@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.loading_bar {
    @apply h-16 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
    background-size: 200% 100%;
    animation: gradient-animation 2s linear infinite;
}