.main {
  @apply h-full w-full bg-[#f8f8f8] flex justify-center items-start gap-4 overflow-y-hidden pt-[5%];
  background: linear-gradient(90deg, rgba(251,215,255,1) 10%, rgba(255,222,193,1) 80%);
}
.container {
  @apply w-[42rem] flex flex-col justify-center items-center;

}
.btnContainer {
  @apply w-[3rem] h-full flex flex-col justify-center items-center gap-2;
}

.btnContainer button {
  @apply w-[3rem] h-[3rem] bg-white rounded-full shadow-lg;
}

.btnTextBlack {
  @apply text-[#000000];
}

.btnTextGray {
  @apply text-[#555555];
}
.formTop {
  @apply flex flex-col gap-2  w-[25rem] h-[7rem] ml-[-50px] justify-center items-center;
}

.formFields {
  @apply mt-[-1rem];
}
.userName {
  @apply text-[1.75rem] font-medium text-[#000000] leading-[2.188rem];
}
.description {
  @apply text-[0.875rem] text-[#555555] text-center font-normal;
}

.formContainer {
  @apply w-full max-h-[500px] mt-[0.5rem] px-[2rem] py-[1rem] rounded-[1.25rem] bg-[#FFFFFF] shadow-lg relative overflow-y-hidden hover:overflow-y-scroll;
  /* scrollbar-width: none; */
}

.formBottom {
  @apply w-full mt-[3rem];
}

.formTitle {
  @apply text-[0.85rem] font-normal text-[#555555] leading-[2.188rem] flex items-center gap-1 text-center;
}

/* input fields */

.input {
  @apply text-[#242424] min-h-[2.7rem] rounded-[8px] outline-none leading-[1.15rem] border text-[0.85rem];
  padding: 0.15rem 0.5rem;
  border-color: #ededed;
}

.input:focus {
  @apply border-2 border-[#000000] rounded-[8px];
}

.input[type="date"] {
  @apply text-[#555555] uppercase;
}

.inputContainer {
  @apply flex flex-col gap-1 mt-4 mb-1;
  /* margin-bottom: 1.3rem; */
}
.inputContainer label {
  @apply text-[#000000] text-[0.85rem] font-medium leading-[1.15rem] ml-1 mb-1;
}

/* button */

.button {
  @apply bg-[#000000] text-[#ffffff] w-[8.5em] h-[2.5rem] outline-none border-collapse rounded-[8px] text-center flex justify-center items-center p-3 relative mt-4 cursor-pointer;
  transition: all 0.6s ease;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #333333;
  cursor: pointer;
}

.button svg {
  @apply w-[1.2rem] flex;
  transition: all 0.6s ease;
  margin: 1.3rem;
  position: absolute;
  left: -1rem;
}

.button:hover svg {
  transform: translateX(5px);
}

.technologiesButton {
  @apply bg-[#000000] text-[#ffffff] w-[6em] h-[2rem] outline-none border-collapse rounded-[8px] text-center flex justify-center items-center p-3 relative cursor-pointer;
  transition: all 0.6s ease;
}

.technologiesButton:hover {
  @apply bg-[#333333];
}

.text {
  margin: 0 1.5em;
}

.technologiesContainer {
  @apply h-auto w-full overflow-y-auto border-[#000000] flex flex-col gap-2;
}

.technologiesContainer .technologies {
  @apply flex flex-col gap-1 w-full h-auto font-normal text-[14px] leading-[1.15rem] mb-3;
}

.technologiesContainer::-webkit-scrollbar {
  display: none;
}

.errorMsg {
  @apply text-[0.7rem] text-red-900 ml-1;
}
.errorBorder {
  @apply border-2 border-red-900;
}
.errorLabel {
  @apply text-red-900;
}

.inputContainerOuter {
  @apply w-full flex flex-col justify-center;
}
.inputContainerOuter1 {
  @apply w-full flex justify-center flex-col;
}

.popover {
  @apply bg-[#FFFFFF] text-[#333333] rounded-[8px] h-auto;
  padding: 12px 16px 16px 16px;
}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
  @apply w-full h-full;
}

.rating label {
  @apply cursor-pointer text-[#ccc] float-right transition-colors duration-300;
}

.rating label:before {
  @apply content-['\2605'];
  font-size: 1.5rem;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  @apply text-[#e58e09] transition-colors duration-300;
}

.experienceSelector {
  @apply flex flex-col gap-2 w-full h-auto pt-2;
}

.experienceSelector h3 {
  @apply text-[#000000] text-[0.85rem] font-medium leading-[1.15rem] ml-1;
}

.experienceSelector .options {
  @apply flex gap-2 w-full;
}

.optionCard {
  @apply border p-2 w-1/3  cursor-pointer rounded-[1rem];
  border-color: #b3afaf;
}

.optionCard .optionContent {
  @apply flex flex-col;
}

.optionCard .optionContent h4 {
  @apply text-[0.85rem] font-medium leading-[1.15rem] text-center mb-0;
}

.optionCard.selected {
  @apply bg-gray-600 text-white border-2 border-gray-400;
  transition: 0.3s;
}

